a {
  font-size: 1.5rem;
  color: #000;
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.pageWrapper {
  display: flex;
  flex-direction: row;
}

.mainNav {
  width: 25%;
  max-width: 300px;
  margin-right: 5rem;
}